<p id="notice"><%= notice %></p>

<h1>Worlds</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @worlds.each do |world| %>
      <tr>
        <td><%= world.name %></td>
        <td><%= world.user %></td>
        <td><%= link_to 'Show', world %></td>
        <td><%= link_to 'Edit', edit_world_path(world) %></td>
        <td><%= link_to 'Destroy', world, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'New World', new_world_state_path(world_id: world) %></td> 
      </tr>
    <% end %>
  </tbody>
</table>

<br>


