<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @world.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @world.user %>
</p>

<%= link_to 'Edit', edit_world_path(@world) %> |
<%= link_to 'Back', worlds_path %>
