<%= form_with(model: state, local: true) do |form| %>
  <% if state.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(state.errors.count, "error") %> prohibited this state from being saved:</h2>

      <ul>
      <% state.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :state_user_id %>
  </div>

  <div class="field">
    <%= form.label :world_id %>
    <%= form.text_field :world_id, id: :state_world_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
