<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @state.user %>
</p>

<p>
  <strong>World:</strong>
  <%= @state.world %>
</p>

<%= link_to 'Edit', edit_state_path(@state) %> |
<%= link_to 'Back', states_path %>
